.title {
  composes: bold from "../../shared.css";
  padding: 2rem;
  color: var(--pftp-teal-accent-1);
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.25;
  text-align: center;
}

.subTitle {
  composes: bold from "../../shared.css";
  padding: 1rem 2rem 0.5rem 2rem;
  margin: 0;
  border-top: 1px solid var(--pftp-gray-1);
  font-size: 1.25rem;
}

.container {
  padding: 1rem 2rem;
  border-top: 1px solid var(--pftp-gray-1);
}

.imageWrapper {
  margin: 3rem auto 0;
  border: 4px solid;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  grid-area: image;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.infoLine {
  margin: 0.125rem 0;
}

.dot {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.democrat {
  color: var(--pftp-blue-accent-1);
  border-color: var(--pftp-blue-accent-1);
  background-color: var(--pftp-blue-accent-1);
}

.republican {
  color: var(--pftp-red-accent-1);
  border-color: var(--pftp-red-accent-1);
  background-color: var(--pftp-red-accent-1);
}

.independant {
  color: var(--pftp-green-accent-1);
  border-color: var(--pftp-green-accent-1);
  background-color: var(--pftp-green-accent-1);
}

.other {
  color: var(--pftp-purple-accent-1);
  border-color: var(--pftp-purple-accent-1);
  background-color: var(--pftp-purple-accent-1);
}
