.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media only screen and (max-device-width: 1024px) {
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media only screen and (max-device-width: 560px) {
  .list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
