.map {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #282a2c;
}

.marker {
  pointer-events: none;
}

.dot {
  pointer-events: all;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.tooltip .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0.25rem;
  box-shadow: none;
}

.markerInner {
  display: grid;
  grid-auto-rows: 1fr;
  transform: translate(-50%, -50%);
}

.imageWrapper {
  pointer-events: all;
  display: block;
  border: 2px solid transparent;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.25),
    0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  grid-area: image;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  grid-row: auto;
  grid-column: auto;
}

.tooltipHeader {
  font-size: 1.25rem;
  margin: 0;
}

.infoLine {
  margin: 0;
}

.tooltip {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  color: var(--pftp-white);
  text-decoration: none;
  background: var(--pftp-background-1);
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr;
  grid-template-areas: "image content";
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.tooltip .imageWrapper {
  grid-area: image;
  width: 3rem;
  height: 3rem;
  border-width: 3px;
}

.tooltipContent {
  grid-area: content;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

.arrow::before {
  content: "";
  transform: rotate(45deg);
  background: var(--pftp-background-1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.tooltipWrapper[data-popper-placement^="top"] .arrow {
  bottom: -4px;
}

.tooltipWrapper[data-popper-placement^="bottom"] .arrow {
  top: -4px;
}

.tooltipWrapper[data-popper-placement^="left"] .arrow {
  right: -4px;
}

.tooltipWrapper[data-popper-placement^="right"] .arrow {
  left: -4px;
}

.tooltip:hover .image {
  filter: grayscale(0);
}

.image {
  pointer-events: none;
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.democrat {
  border-color: var(--pftp-blue-accent-1);
  background-color: var(--pftp-blue-accent-1);
}

.republican {
  border-color: var(--pftp-red-accent-1);
  background-color: var(--pftp-red-accent-1);
}

.independent {
  border-color: var(--pftp-green-accent-1);
  background-color: var(--pftp-green-accent-1);
}

.other {
  border-color: var(--pftp-purple-accent-1);
  background-color: var(--pftp-purple-accent-1);
}

/* 3 */
.remainder1.columns2 a:nth-last-child(-0n + 1) {
  transform: translate(50%, 0);
}

/* 13 */
.remainder1.columns4 a:nth-last-child(-0n + 1) {
  transform: translate(200%, 0);
}

/* 14 */
.remainder2.columns3 a:nth-last-child(-0n + 1) {
  transform: translate(66%, 0);
}
.remainder2.columns3 a:nth-last-child(-0n + 2) {
  transform: translate(66%, 0);
}

/* 19 */
.remainder-3.columns4 a:nth-last-child(-0n + 1) {
  transform: translate(66%, 0);
}
.remainder3.columns4 a:nth-last-child(-0n + 2) {
  transform: translate(66%, 0);
}
.remainder3.columns4 a:nth-last-child(-0n + 3) {
  transform: translate(66%, 0);
}
