.link {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}
.link svg {
  fill: var(--pftp-text-1);

  width: 2rem;
  height: 2rem;
}

.link:hover svg {
  fill: var(--pftp-yellow-accent-1);
}
